html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

  body {
    display: grid;
    grid-template-rows: 150px auto 150px 100px;
  } 

.wrapper{
    border: 1px solid green;
    width: 500px;
    margin: 20px;
    padding:25px;
}

label {
  font-size: 20px;
  font-weight: 700;
  color: #1c87c9;
}

input {
  height: 28px;
  padding: 4px 10px;
  border: 1px solid #666;
  background: #cce6ff;
  color: #1c87c9;
  font-size: 16px;
}

